<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Page"/>

<f:section name="Header">
    <f:render partial="Header/Header" arguments="{_all}" />
</f:section>

<f:section name="Main">
    <main>
        <f:if condition="{data.is_siteroot}">
            <f:then>
                <div class="qsa_hero">
                    <div class="qsa_hero__content">
                        <div class="qsa_hero__header">
                            <h1 class="h2 qsa_hero__title">
                                {settings.headerHeading}
                            </h1>
                            <p class="qsa_hero__desc">
                                {settings.headerSubheader}
                            </p>
                        </div>
                       <div class="qsa_search-header__content">
                        <form method="get" class="qsa_search-header__search-wrapper search-simple" action="/recherchieren">
                            <div class="qsa_search-header__search">
                                <label class="sr-only" for="c939-field-default">Durchsuchen Sie wissenschaftliche Publikationen der Mobilitäts- und Verkehrsforschung</label>
                               <input a="1" aria-autocomplete="list" placeholder="Durchsuchen Sie wissenschaftliche Publikationen der Mobilitäts- und Verkehrsforschung" class="inputType-text autocomplete tabbed" id="c939-field-default" type="text" name="tx_find_find[q][default]" value="" aria-expanded="false">
                                <button aria-label="Suche starten" type="submit" name="" value="" class="">
                                    <span class="sr-only">Suche starten</span>
                                    <svg class="qsa_icon icon--search icon--base" role="img" width="20" height="20" aria-hidden="true">
                                        <title class="sr-only">Icon</title>
                                        <desc class="sr-only">search Icon</desc>
                                           <use xlink:href="/typo3conf/ext/slub_web_qucosa/Resources/Public/Icons/icon.min.svg#icon-search"></use>
                                   </svg>
                                </button>
                            </div>
                        </form>
                       </div>
                    </div>
                    <figure class="qsa_hero__figure">
                        <img src="{f:uri.resource(path:'Images/hero/hero-bg.png', extensionName: 'slub_web_qucosa')}"
                             title=""
                             alt="">
                    </figure>

                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}"/>
                </div>
            </f:then>
            <f:else>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}"/>
            </f:else>
        </f:if>
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}"/>
    </main>
</f:section>

<f:section name="Footer">
    <f:render partial="Footer/Footer" arguments="{_all}"/>
</f:section>

</html>
